<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Interest Academy</title>
<script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css' >
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js' defer></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js' defer></script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <script src="main.js" defer></script>
</head>
<body>
    <div class="text-center">
        <h1 class="main-title">Welcome to my Interest Academy Web Development Project</h1>
    </div>

    <div class="navbar">
        <div class="navbar-button col text-center">
            Home
        </div>
        <div class="navbar-button col text-center">
            Info
        </div>
        <div class="navbar-button col text-center">
            Examples
        </div>
        <div class="navbar-button col text-center">
            Form
        </div>
        <div class="navbar-button col text-center">
            Questions
        </div>
        <div class="navbar-button col text-center">
            Socials
        </div>
    </div>
    <div class="navbar-m">
        <div class="navbar-button col-sm text-center">
            Home
        </div>
        <div class="navbar-button col-sm text-center">
            Info
        </div>
        <div class="navbar-button col-sm text-center">
            Examples
        </div>
        <div class="navbar-button col-sm text-center">
            Form
        </div>
        <div class="navbar-button col-sm text-center">
            Questions
        </div>
        <div class="navbar-button col-sm text-center">
            Socials
        </div>
    </div>
    
    <div class="container mt-3">
        <div class="text-center">
            <h1 class="animating-logo">|</h1>

        </div>
        <div class="main-desc">
            <h1 class="home-main-desc">
                &#60;Home&#62;
            </h1>
            <h2>
                Welcome to my Interest Academy project! I chose Web Development as my subject! Please pay attention as there will be a quiz at the end.
            </h2>
            <h1 class="home-main-desc">
                &#60;/Home&#62;
                <br> <br>
                &#60;Info&#62;
            </h1>
            <h2>
                Here you can watch the informational video on how to get started with web development and how we built the website.
            </h2>
            <h1 class="home-main-desc">
                &#60;/Info&#62;

                <br> <br>
                &#60;Examples&#62;
            </h1>
            <h2>
                Here you can get links to useful websites, playlists, and examples of what else you can do with Web Development.
            </h2>
            <h1 class="home-main-desc">
                &#60;/Examples&#62;

                <br> <br>
                &#60;Form&#62;
            </h1>
            <h2>
                Once you are done watching "Info", you can take the mini quiz here.
            </h2>
            <h1 class="home-main-desc">
                &#60;/Form&#62;

                <br> <br>
                &#60;Questions&#62;
            </h1>
            <h2>
                If you have any questions about Web Development or programming in general you can go to "questions", and ask us there, I will answer your question shortly
            </h2>
            <h1 class="home-main-desc">
                &#60;/Questions&#62;

                <br> <br>
                &#60;Socials&#62;
            </h1>
            <h2>
                Here you can find our Discord programming support server and our official email.
            </h2>
            <h1 class="home-main-desc">
                &#60;/Socials&#62;



        </div>
    </div>
</body>
</html>