<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Websites</title>
<script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css' >
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js' defer></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js' defer></script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js" defer></script>
</head>
<body>
    <div class="text-center">
        <h1 class='display-5'>Websites</h1>
    </div>

    <div class="navbar">
        <div class="navbar-button col text-center">
            Home
        </div>
        <div class="navbar-button col text-center">
            Info
        </div>
        <div class="navbar-button col text-center">
            Examples
        </div>
        <div class="navbar-button col text-center">
            Form
        </div>
        <div class="navbar-button col text-center">
            Questions
        </div>
        <div class="navbar-button col text-center">
            Socials
        </div>
    </div>
    <div class="navbar-m">
        <div class="navbar-button col-sm text-center">
            Home
        </div>
        <div class="navbar-button col-sm text-center">
            Info
        </div>
        <div class="navbar-button col-sm text-center">
            Examples
        </div>
        <div class="navbar-button col-sm text-center">
            Form
        </div>
        <div class="navbar-button col-sm text-center">
            Questions
        </div>
        <div class="navbar-button col-sm text-center">
            Socials
        </div>
    </div>

    <div class="container mt-3 text-center">
        <h1 class="animating-logo">|</h1>
        <div class="main-desc text-left">
            <div class="row text-center">
                <div class="col-1">
                    <a href="/examples">
                        <h1><i class="fa fa-arrow-circle-left btn-back " aria-hidden="true"></i></h1>
                    </a> 
                </div>
                <div class="col">
                    <h1 class="col">
                        Here are some websites we recommend
                    </h1>
                </div>
            </div>

            <ul>
                <li>
                    <h1><i class="fa fa-stack-overflow" aria-hidden="true"></i> Stack Overflow</h1>
                    <h2>Search here for questions about an error or just to find code.</h2>
                    <h3><a href="https://www.stackoverflow.com">https://www.stackoverflow.com</a></h3>
                </li>
                <li>
                    <h1><i class="fa fa-github" aria-hidden="true"></i> Github</h1>
                    <h2>A website that helps with project managment.</h2>
                    <h3><a href="https://github.com">https://github.com</a></h3>
                </li>
                <li>
                    <h1><i class="fa fa-codepen" aria-hidden="true"></i> Codepen</h1>
                    <h2>A website where people share their amazing creations.</h2>
                    <h3><a href="https://codepen.io/">https://codepen.io/</a></h3>
                </li>
                <li>
                    <h1><i class="fa fa-free-code-camp" aria-hidden="true"></i> Free Code Camp</h1>
                    <h2>A website with amazing tutorials on programming.</h2>
                    <h3><a href="https://www.freecodecamp.org/">https://www.freecodecamp.org/</a></h3>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>